

.BoxRecordEmpty {
    padding: 50px 0;
    font-size: 30px;
    color: #F07A94;
}

.titleBox-main {
    position: relative;
    margin: auto;
    width: 710px;
    box-sizing: border-box;
    padding: 6px;

    .titleBox-bg {
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        height: calc(100% - 40px);
        //@include bg('@Assets', 'box-center', 'png');
        background-size: 100% 100%;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40px;
        //@include bg('@Assets', 'box-top', 'png');
        background-size: 100% auto;
        z-index: 1;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        //@include bg('@Assets', 'box-bottom', 'png');
        background-size: 100% auto;
        z-index: 1;
    }

    .titleBox-title {
        width: 506px;
        height: 99px;
        text-align: center;
        //background: url("../../../assets/images/box-title-bg.png") no-repeat;
        background-size: 100% 100%;
        line-height: 99px;
        font-size: 26px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
        text-shadow: 0px 1px 2px rgba(213, 46, 132, 0.9);
    }

    .titleBox-children {
        position: relative;
        z-index: 3;
    }

    .titleBox-hh {
        position: absolute;
        right: 5px;
        bottom: 2px;
        width: 70px;
        z-index: 2;
        line-height: 0;
    }
}


.prizeItem-box {
    text-align: center;
    margin-top: 45px;

    .prizeItem-img {
        width: 180px;
        height: 180px;
        margin: auto;
        position: relative;
        border-radius: 180px;
        background: linear-gradient(0deg, #FEF6B9, #F9EBAE);

        .prizeItem-img-con {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 110px;
            overflow: hidden;
            background: #F8C0CE;
            border: 2px solid #DD7D91;

            .prizeItem-img-con-gm {
                width: calc(100% + 10px);
                position: absolute;
                bottom: -2px;
                left: -5px;
                line-height: 0;
            }

            .prizeItem-img-con-m {
                padding: 15px;
                box-sizing: border-box;
                width: 100%;
                //position: absolute;
                //left: 0;
                //top: 0;
                //right: 0;
                //bottom: 0;
                //margin: auto;
                height: 100%;

                img {
                    width: 80%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }


    }

    .prizeItem-type {
        text-align: center;
        font-size: 20px;
        color: #F17700;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .prizeItem-name {
        font-size: 20px;
        color: #F07A94;

        .name {
            line-height: 1.2;
            font-size: 22px;
            color: #B14159;
        }

        .i18n-active {
            color: #F17700;
        }
    }

}

.record-prizeItem-box {
    text-align: center;
    margin-bottom: 30px;


    .record-prizeItem-type {
        text-align: center;
        font-size: 20px;
        color: #F17700;
        line-height: 20px;
        margin-top: 10px;
    }

    .record-prizeItem-name {
        font-size: 20px;
        color: #B14159;
        line-height: 1;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .record-prizeItem-num {
        font-size: 16px;
        color: #F07A94;
        line-height: 1;
    }

}

.record-prizeItem-img {
    width: 110px;
    height: 110px;
    margin: auto;
    position: relative;
    border-radius: 110px;

    .record-prizeItem-img-con {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 110px;
        overflow: hidden;
        background: #FFEDF1;
        border: 1px solid #DD7D91;

        .record-prizeItem-img-con-gm {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .record-prizeItem-img-con-m {
            box-sizing: border-box;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 10px;

            img {
                border-radius: 50%;
            }
        }
    }


}


.anchorHead-box {
    text-align: center;


    .anchorHead-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: auto;
        position: relative;
        overflow: hidden;
        background: linear-gradient(0deg, #FF7781, #FFC4C6, #FF929B);
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            left: 2px;
            right: 2px;
            top: 2px;
            bottom: 2px;
            border-radius: 50%;
            background-color: #CB3E7C;
        }

        .anchorHead-img-no {
            width: 83px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 1;

            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .anchorHead-img-has {
            border-radius: 50%;
            position: absolute;
            z-index: 2;
            left: 2px;
            top: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            -webkit-transform: translate3d(0, 0, 0);
        }

    }

    .anchorHead-type {
        text-align: center;
        font-size: 20px;
        color: #fff;
        padding: 3px 20px;
        position: absolute;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
        bottom: -19px;
        line-height: 1;
        height: 40px;
        background: #F47487;
        border-radius: 50%;
    }


    .anchorHead-name {
        font-size: 30px;
        line-height: 34px;
        margin-top: 12px;
    }

}

.anchorHead-box2 {
    text-align: center;


    .anchorHead-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: auto;
        position: relative;
        background: linear-gradient(0deg, #FF7781, #FFC4C6, #FF929B);
        z-index: 1;

        border: 2px solid #F987BD;

        .anchorHead-img-no {
            width: 83px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 1;

            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .anchorHead-img-has {
            border-radius: 130px;
            z-index: 1;
            -webkit-transform: translate3d(0, 0, 0);
            width: 100%;
            height: 100%;

        }

    }

    .anchorHead-type {
        bottom: -10px;
        font-weight: 400;
        left: 50%;
        line-height: 1;
        padding: 3px 12px;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        z-index: 2;
        background: #FF599E;
        border-radius: 13px;
        font-size: 22px;
        color: #FFFFFF;
    }


    .anchorHead-name {
        //@extend .one-text-row-hidden;
        font-size: 30px;
        line-height: 34px;
        margin-top: 12px;
    }

}

$tanabataDate-H: 73px;
.tanabataDate-skeleton {
    width: 663px;
    margin: auto;
}

.tanabataDate {
    //border: 1px solid #FFFFFF;
    //background: url('../../../assets/images/sweetRank/ul_bg.png') no-repeat center center;



    background-size: 100%;
    border-radius: $tanabataDate-H;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 0 5px;
    @include bg('@Assets', 'sweetRank/ul_bg', 'png');


    .tanabataDate-ul {
        display: flex;
        padding: 5px 5px;
        box-sizing: border-box;
        flex-wrap: nowrap;
        height: $tanabataDate-H;
        border-radius: $tanabataDate-H;
        overflow: hidden;
        overflow-x: auto;
        -webkit-transform: translate3d(0, 0, 0);

    }

    .tanabataDate-li {
        //flex: 1;
        flex: none;
        width: 127px;
        text-align: center;
        position: relative;
        border-radius: $tanabataDate-H;
        border: 1px solid transparent;

        span {
            @extend .acc;

            display: block;
            width: 100%;
        }
    }

    .tanabataDate-li-action {
        // border: 1px solid #FFEDEF;
        background: url('../../../assets/images/sweetRank/li_bg_act.png') no-repeat center center;
        border: none;
        background-size: 100%;
        // background: linear-gradient(0deg, #FF687E 17%, #FFAFB6 92%);
        // border-radius: $tanabataDate-H;
        span {
            font-weight: 600;
            color: #B74F65;
        }
    }

    .tanabataDate-li-not {
        color: #FFFFFF;
        opacity: 0.5;
    }
}

.RankHead {
    @extend .fcc;

    .RankHead-img {
        width: 80px;
        height: 80px;
        border-radius: 80px;
        position: relative;
        background: linear-gradient(0deg, #FEF6B9, #F9EBAE);

        .RankHead-img-gm {
            border-radius: 100px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 1;
            overflow: hidden;
        }

        &:after {
            @extend .acc;
            content: '';
            border-radius: 80px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: #CB3E7C;
        }

        .RankHead-type {
            text-align: center;
            bottom: -10px;
            color: #fff;
            font-weight: 400;
            left: 50%;
            line-height: 1;
            padding: 2px 10px;
            position: absolute;
            transform: translateX(-50%);
            //width: 80px;
            z-index: 2;

            font-size: 16px;
            //height: 20px;
            background: #FF637E;
            border-radius: 10px;
        }
    }

    .RankHead-con {
        padding-left: 20px;
        padding-right: 20px;

        .RankHead-con-name {
            //@extend .one-text-row-hidden;
            width: 150px;
            font-size: 24px;
            color: #B14159;
        }

        .RankHead-con-value {
            font-size: 20px;
            color: #F07A94;
        }
    }
}

.activity-status {
    margin-top: 44px;
    margin-bottom: 23px;
    color: #C32892;
    line-height: 23px;

    .activity-status-time {
        color: #F27500;
    }
}

.anchor-skeleton {
    display: flex;
    margin: 24px 26px 38px;
}

.anchor {
    display: flex;
    box-sizing: border-box;
    height: 172px;
    margin: 24px 26px 38px;
    padding: 30px 20px;
    background: rgba(247, 205, 254, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgba(246, 107, 167, 0.23) inset;

    .anchor-img-wrap {
        box-sizing: border-box;
        width: 112px;
        height: 112px;
        background: #FDA5CF;
        border: 2px solid #FCC4FF;
        border-radius: 50%;

        .anchor-img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .anchor-no {
            display: block;
            margin: 27px auto 0;
        }
    }

    .anchor-info {
        margin-left: 20px;
        font-weight: 500;
        font-size: 30px;

        .anchor-name {
            text-align: left;
            line-height: 1;
            margin-top: 20px;
        }

        .anchor-userId {
            margin-top: 13px;
            color: #C32892;
            font-size: 22px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}

.task-reward {
    .task-reward-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 55px;
        margin-bottom: 21px;

        .title-side {
            display: flex;
            align-items: center;

            .lines {
                width: 81px;
                height: 3px;
                border-radius: 2px;

                &.left {
                    margin-right: 8px;
                    background: linear-gradient(-87deg, #C32892 0%, rgba(255, 255, 255, 0.01) 99%);
                }

                &.right {
                    margin-left: 8px;
                    background: linear-gradient(90deg, #C32892 0%, rgba(255, 255, 255, 0.01) 99%);
                }
            }

            .diamond {
                width: 10px;
                height: 10px;
                background: #C32892;
                transform:rotate(45deg);
            }
        }

        .title-text {
            margin: 0 14px;
            color: #C32892;
            font-weight: 600;
        }
    }

    .task-reward-info {
        .reward-img-wrap {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 188px;
            height: 175px;
            background-size: 100% 100%;

            //@include bg('@Assets','sweetTask/aixin-bg','png');

            .reward-img {
                width: 50%;
            }

            .reward-num {
                position: absolute;
                bottom: 0;
                padding: 0 20px;
                color: #fff;
                font-size: 22px;
                line-height: 26px;
                background-color: #DB80FD;
                border-radius: 13px;
                white-space: nowrap;
            }
        }

        .reward-name {
            margin-top: 15px;
            margin-bottom: 8px;
            font-size: 22px;
            line-height: 22px;
        }

        .reward-type {
            margin-bottom: 35px;
            font-size: 20px;
            line-height: 20px;
        }
    }
}
