.livePendant {
    width: 100%;
    position: relative;
    height: auto;
    font-size: 16px;
    line-height: 1.2;

    .elelive-loading {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 999;

        .elelive-loading-image {
            width: unit(100) !important;
        }
    }

    .livePendant-swiper {
        height: unit(332);
        padding-top: unit(20);
        transform: translate3d(0, 0, 0);

        .swiper-pagination {
            top: unit(6);
            height: unit(8);
            bottom: 0;

            .swiper-pagination-bullet {
                background: #ffffff;
            }
        }

        .swiper-wrapper {
            //position: fixed;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transform-origin:center center;

            .swiper-slide{
                transform: translate3d(0, 0, 0);
                transform-origin:center center;
                flex-grow: 0;
                flex-shrink: 0;
            }
        }
    }

    .content {
        height: unit(332);
        position: relative;
        background: url("../../../assets/images/pendant/room/pendant-box-bg.png") no-repeat;
        background-size: 100% 100%;
    }

    .livePendant-top {
        @extend .act;
        width: 100vw;
        z-index: 2;
    }

    .livePendant-content {
        position: relative;
        z-index: 3;
        padding-top: unit(121);
        padding-bottom: unit(25);
        text-align: center;

        .livePendant-group {
            font-size: unit(20);
            line-height: 1.5;
            color: $white;
        }
    }

    .livePendant-no {
        font-size: unit(22);
        font-weight: bold;
        color: #FDEC77;
        margin-bottom: unit(5);
    }

    .livePendant-txz {
        font-size: unit(16);
        color: $white;

        .txz-title {
            margin-bottom: unit(3);
        }

        .Addition-box {
            font-size: unit(14);
            color: #FFFFFF;
            margin-bottom: unit(4.6);

            .i18n-active {
                color: #FFFFFF;
                font-size: unit(14);
            }
        }

        p {
            font-size: unit(20);
            font-weight: 600;
            color: #FDEC77;

        }

    }

    .livePendant-box-li {
        position: relative;

        .livePendant-box-li-img {
            width: unit(28);
            margin: auto;
        }

        p {
            font-size: unit(16);
            font-weight: 400;
            color: #FFFFFF;
        }
    }

    .livePendant-box-li-solid:after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        background: #FEBBFF;
        height: unit(30);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .livePendant-time {
        @extend .fcc;
        width: 94%;
        height: unit(28);
        margin: unit(5) auto 0;
        font-size: unit(14);
        color: $white;

        .livePendant-time-value {
            color: #FFFE93;
            margin-left: unit(8);
        }
    }

    .livePendant-zsz {
        padding: unit(30) 0 unit(50) 0;
        line-height: 1.2;

        p {
            font-size: unit(16);
            font-weight: 400;
            color: $white;
        }

        div {
            font-size: unit(24);
            font-weight: 400;
            color: #FDEC77;

            span {
                font-size: unit(20);
            }
        }
    }

    .fail-box {
        padding: unit(35) 0 unit(55);

        .fail-explain {
            margin-bottom: unit(15);
            font-size: unit(16);
            color: rgba(#007D78, .96);
        }

        .fail-Addition {
            font-size: unit(14);
            color: #FFFFFF;

            .i18n-active {
                font-size: unit(14);
                color: #FFFFFF;
            }
        }
    }

    .livePendant-task-view {
        width: unit(170);
        margin: 0 auto unit(13);

        &:nth-child(2) {
            margin-bottom: unit(34);
        }

        .livePendant-task-title {
            margin: unit(3) 0;
            font-size: unit(16);
            color: $white;
            line-height: 1.2;
        }
    }
}


.LuckPendant {
    position: fixed;
    height: unit(170);
    z-index: 99;
    top: unit(356);
    width: 100%;

    .LuckPendant-title {
        @extend .fcc;
        @extend .act;
        top: -16px;
        background: url("../../../assets/images/pendant/room/tit.png") no-repeat;
        background-size: 100% 100%;
        width: unit(159);
        height: 35px;
        margin: auto;
        padding: 0 10px;
        color: $white;
        text-shadow: 1px 2px 4px rgba(229, 22, 150, 0.9);;
        font-size: 16px;
        line-height: 1;
        z-index: 5;
        text-align: center;
        box-sizing: border-box;
        word-break: break-all;

        .LuckPendant-title-img {
            position: relative;
            display: inline-block;
            left: 4px;
            width: 12px;
            line-height: 0;
            transform: rotate(0deg);
            transition: all 0.2s;
        }

        .LuckPendant-title-img-action {
            transform: rotate(180deg);
        }

        > span {
            flex: 1;
            text-align: center;
        }
    }

    .LuckPendant-content {
        @extend .fcc;
        position: relative;
        height: 189px;
        //border-radius: 12px;
        box-sizing: border-box;
        text-align: center;
        color: $white;
        background: url("../../../assets/images/pendant/room/pendant-footer-bg.png") no-repeat center center;

        .LuckPendant-content-box {
            @extend .fcc;
            align-content: space-around;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: relative;
            z-index: 3;
            padding: 22px 10px 10px;
            box-sizing: border-box;
        }

        .LuckPendant-content-box-current-level {
            //margin-top: 29px;
            //margin-bottom: 5px;
            font-size: 16px;
            line-height: 1;
            word-break: break-all;

            .intl-active {
                color: #FFFE93;
            }

        }

        .LuckPendant-content-box-next-level {
            //margin-bottom: 5.6px;
            font-size: 14px;
            line-height: 1;
            word-break: break-all;
            margin: 0 0 3px;

            .intl-active {
                color: #FFFE93;
            }
        }

        .LuckPendant-content-progress {
            //margin: 10px 0;
            width: 100%;

            .progress {
                height: 23px;
                //margin-bottom: 3.6px;
                .progress-children {
                    height: 23px;
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            .LuckPendant-content-box-round {
                font-size: 14px;
                color: #007D78;

                .i18n-active {
                    font-size: 14px;
                    color: #FDFF70;
                }
            }
        }

        .luck-endTime {
            width: 94%;
            height: 28px;
            //margin: 0 auto 10px;
            margin: 0 auto;
            line-height: 1;
            font-size: 14px;
            color: $white;
            text-align: center;

            .livePendant-time-value {
                color: #FFFE93;
                margin-left: 8px;
            }
        }

    }
}
