@import '../../scss/common.scss';

.star-steps {
    // width: 100%;
    width: 630px;
    margin: 0 auto 20px;
    height: 82px;
    overflow: hidden;
    background-image: url("../../../assets/images/lists/step_bg.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }

    .steps-ul {
        @extend .fcc;
        // width: 663px;
        // height: 82px;
        overflow: scroll;
        height: 100%;
        padding: 0 7px;
        // margin: 0 auto;
        // padding: 5px 19px;
        position: relative;
        box-sizing: border-box;
        justify-content: flex-start;
        z-index: 2;
        // overflow: hidden;
        // background-image: url("../../../assets/images/lists/step_bg.png");


        .steps-li {
            @extend .fcc;
            flex-direction: column;
            flex-shrink: 0;
            width: 116px;
            height: 82px;
            margin-right: 9px;
            font-size: 24px;
            line-height: 28px;
            color: rgba(255, 255, 255, 0.5);
            z-index: 1;
            position: relative;

            &.completed {
                color: $white;
            }

            &.active {
                background: url("../../../assets/images/lists/step_selected.png") no-repeat center center;
                background-size: 116px auto;
                // background: linear-gradient(0deg, #FFB8DF 0%, #FFEFF0 100%);
                // box-shadow: inset 0px 0px 7px 0px rgba(255, 234, 240, 0.85);
                // border-radius: 36px;
                font-weight: bold;
            }

            &.steps-li-noprogress {
                .step-block {
                    &:before {
                        background: #366EBB;
                    }
                }
            }
        }
    }
}

