.ListSkeleton-box {
    text-align: left;
    .lists-bg{

        .date-ul {
            margin-bottom: evw(32);
        }

        .lists-item {
            .lists-info-img {
                background: none;
                border: none;
            }
        }
    }
}