.box{
    width: 100px;
    height: 100px;
    @include bg('no-data','png')
}

.skeleton-bg{
    position: fixed;
}

.index{
    @include bg('top-bg','png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    //.header{
    //    @include bg('top-bg','png');
    //    background-size: 100% auto;
    //    background-repeat: no-repeat;
    //}
    .index-box{
        @include bg('box','png');
        background-size: 100% 100%;
        width: evw(686);
        height: evw(292);
        margin: auto;
        position: relative;
        margin-top: evw(100);
        box-sizing: border-box;
        padding: 0 evw(24);
        &:after{
            content: '';
            display: block;
            width: evw(750);
            height: evw(82);
            @include bg('yx','png');
            background-size: 100% 100%;
            position: absolute;
            bottom: evw(-40);
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        .index-box-head{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: evw(220);
            height: evw(222);
            top: evw(-100);
            //@include bg('head','png');
            //background-size: 100% 100%;
            &:after{
                content: '';
                display: block;
                @include bg('head','png');
                background-size: 100% 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            .index-box-head-img{
                width: 70%;
                height: 70%;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
            .index-box-head-level{
                width: evw(80);
                height: evw(40);
                display: inline-flex;
                align-items: center;
                background: linear-gradient(to right , rgba(158, 0, 255, 1), rgba(255, 48, 166, 1));
                border-radius: evw(40);
                position: absolute;
                bottom: evw(22);
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                font-size: evw(34);
                //font-family: 'Bebas Neue';
                color: #FFFFFF;
                line-height: 1;
                text-shadow: 0px 2px 6px rgba(252,0,255,0.6);
                padding-left: evw(35);

                background-size: 100% 100%;
                box-sizing: border-box;
                span{
                    display: block;
                    width: evw(40);
                    text-align: center;
                }
                .index-box-head-level-img{
                    width: evw(40);
                    height: evw(40);
                }
            }

            .index-box-head-level1{
                @include bg('1','png');
            }
            .index-box-head-level2{
                @include bg('2','png');
            }
            .index-box-head-level3{
                @include bg('3','png');
            }
            .index-box-head-level4{
                @include bg('4','png');
            }
        }
        .index-box-head-no-border{
            &:after{
                display: none;
            }
            .index-box-head-img{
                border:2px solid #fff;
            }
        }
        .index-box-lv{
            height: evw(64);
            font-size: evw(36);
            //font-family: 'Bebas Neue';
            line-height: evw(64);
            color: #F4F4F4;
            padding-top: evw(14);
        }
        .index-box-no-lv{
            height: evw(40);
            background: rgba(255,255,255,0.2);
            border-radius: evw(16) 0px evw(16) 0px;
            //display: inline-block;
            padding: 0 evw(16);
            font-size: evw(20);
            font-weight: 500;
            color: #F4F4F4;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        .index-box-name{
            height: evw(48);
            overflow-wrap: break-word;
            color: rgba(244, 244, 244, 1);
            font-size: evw(40);
            text-align: center;
            white-space: nowrap;
            line-height: evw(48);
            //margin: evw(185) 0 0 evw(12);
            padding-top: evw(35);
            font-weight: 600;
            color: #F4F4F4;
        }
        .index-box-name2{
            padding-top: evw(125);
        }
        .index-box-no-footer{
            text-align: center;
            font-size: evw(20);
            color: #F4F4F4;
            margin-top: evw(40);
        }

        .index-progress{
            height: evw(8);
            background: rgba(0, 0, 0, 0.2);
            border: none;
            margin-top: evw(24);
            .elelive-progress-content{
                background: #fff;
            }
        }
        .index-min-text{
            display: flex;
            font-size: evw(20);
            color: #F4F4F4;
            align-items: center;
            margin-top: evw(8);
            div{
                width: 50%;
                .index-min-text-yellow{
                    color: rgba(255, 226, 0, 1);
                    font-weight: 600;
                }
            }
            .index-min-text-right{
                text-align: right;
            }
        }
    }

    .index-con{
        padding: 0 evw(32) evw(40) evw(32);
        .index-tit{
            font-size: evw(32);
            font-weight: 500;
            color: #171717;
            line-height: evw(42);
            margin-bottom: evw(24);
            margin-top: evw(48);
            text-indent: evw(16);
            position: relative;
            &:before{
                content: '';
                display: inline-block;
                width: evw(8);
                height: evw(32);
                background: linear-gradient(to bottom , RGBA(248, 61, 215, 1), RGBA(185, 58, 253, 1));
                position: absolute;
                left: 0;
                top: evw(4);
                border-radius: evw(10);
            }
        }
        .index-p{
            font-size: evw(28);
            color: #8E8E8E;
            line-height: evw(42);
            margin-top: evw(8);
        }
    }



    .index-level-medal{
        width: evw(686);
        height: evw(120);
        background: linear-gradient(to right , rgba(228, 94, 255, 0.3), rgba(175, 39, 254,0.3));
        border-radius: evw(15);
        display: flex;
        align-items: center;
        justify-content: space-around;
        .index-level-medal-li{
            text-align: center;
            .index-level-medal-li-top{
                //background: linear-gradient(to right , rgba(188, 61, 255, 1), rgba(119, 0, 239, 1));
                height: evw(32);
                width: evw(64);
                border-radius: evw(32);
                font-size: evw(24);
                font-family: 'Bebas Neue';
                color: #FFFFFF;
                text-shadow: 0px 2px 4px rgba(157,0,228,0.6);
                text-align: center;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-size: 100% 100%;
                box-sizing: border-box;
                //.index-level-medal-li-img{
                //    width: evw(32);
                //    height: evw(32);
                //}

                span{
                    display: block;
                    width: evw(40);
                    height: evw(32);
                    margin-left: evw(23);
                }



            }

            .index-box-head-level1{
                @include bg('1','png');
            }
            .index-box-head-level2{
                @include bg('2','png');
            }
            .index-box-head-level3{
                @include bg('3','png');
            }
            .index-box-head-level4{
                @include bg('4','png');
            }

            .index-level-medal-bottom{
                font-size: evw(20);
                font-weight: 600;
                //font-family: 'Bebas Neue';
                color: #171717;
                line-height: evw(42);
            }

        }
    }



    .award{
        background: rgba(146, 0, 255, 1);
        background: linear-gradient(to bottom , rgba(180, 25, 255, 1),rgba(171, 28, 255, 1));
        border-radius: evw(16);
        width: evw(686);
        margin: auto;
        margin-top: evw(24);
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include bg('ftitle-bg','png');
            background-size: evw(108) evw(106);

        }
        .award-li{
            .award-li-title{
                text-align: center;
                height: evw(88);
                font-size: evw(35);
                //font-family: 'Bebas Neue';
                color: #F4F4F4;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to right , rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
            }
            .award-li-ul{
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: space-between;
                padding: 0 evw(24);
                margin-top: evw(24);
                .award-li-li{
                    width: evw(140);
                    text-align: center;
                    margin-bottom: evw(30);
                    .award-li-li-box{
                        width: evw(140);
                        height: evw(140);
                        @include bg('pp','png');
                        background-size: 100% 100%;
                        position: relative;
                        .award-li-li-box-img{
                            max-width: evw(120);
                            max-height: evw(120);
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;bottom: 0;
                            margin: auto;
                        }
                    }
                    .award-li-li-name{
                        font-size: evw(24);
                        font-weight: 500;
                        color: #F4F4F4;
                        line-height: evw(32);
                        @extend .ellipsis;
                        margin-top: evw(8);
                    }
                    .award-li-li-validityPeriod{
                        font-size: evw(24);
                        color: #FFE200;
                        line-height: evw(24);
                    }
                }
            }
        }
    }

}

