.home {
    .menu {
        margin: 12px auto 0;

        .index-tab {
            @extend .fcc;
            width: 100%;
            height: 86px;

            .elelive-tabs-li {
                flex-grow: 0;
                width: 176px;
                height: 86px;
                padding: 5px 10px 0;
                margin: 0 1px;
                color: $textColor;
                font-weight: bold; 
                line-height: 1.1;
                text-align: center;
                background: url('../../../assets/images/index/index_tab.png') no-repeat center bottom;
                background-size: 100% 100%;
                box-sizing: border-box;

                > span {
                    font-size: 24px;
                    line-height: 1.2;
                    position: relative;
                    color: #ffffff;

                    //color: transparent;
                    //
                    //background: linear-gradient(0deg, #FFFFFF 15.9912109375%, #FFBFF2 100%);
                    //-webkit-background-clip: text;
                    //-webkit-text-fill-color: transparent;

                    &::before {
                        @extend .fcc;
                        content: attr(data-text);
                        width: 100%;
                        height: 100%;
                        mask: linear-gradient(to bottom, #FFBFF2 0, transparent 100%);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: #FFBFF2;
                    }
                }

                &.elelive-tabs-action {
                    color: $textHightColor;
                    text-shadow: none;
                    background: url('../../../assets/images/index/index_tab_active.png') no-repeat center bottom;
                    background-size: 100% 100%;

                    > span {
                        font-size: 26px;
                        line-height: 1.2;
                    }

                }
            }
        }
    }

    .sub-menu {
        .index-tab {
            @extend .fcc;
            width: 100%;
            height: 86px;

            .elelive-tabs-li {
                flex-grow: 0;
                box-sizing: border-box;
                width: 353px;
                height: 72px;
                margin: 16px 1px 0;
                padding: 9px 10px 0;
                color: $textColor;
                font-weight: bold;
                line-height: 1.1;
                text-align: center;
                background: url('../../../assets/images/index/sub_tab.png') no-repeat center bottom;
                background-size: 100% 100%;
                box-sizing: border-box;

                > span {
                    font-size: 24px;
                    line-height: 1;
                    color: #ffffff;
                    position: relative;

                    //background: linear-gradient(0deg, #FFFFFF 15.9912109375%, #FFBFF2 100%);
                    //-webkit-background-clip: text;
                    //-webkit-text-fill-color: transparent;
                    &::before {
                        @extend .fcc;
                        content: attr(data-text);
                        width: 100%;
                        height: 100%;
                        mask: linear-gradient(to bottom, #FFBFF2 0, transparent 100%);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: #FFBFF2;
                    }
                }

                &.elelive-tabs-action {
                    width: 355px;
                    height: 88px;
                    margin: 0 1px;
                    padding: 15px 10px 0;
                    color: $textHightColor;
                    text-shadow: none;
                    background: url('../../../assets/images/index/sub_tab_active.png') no-repeat center bottom;
                    background-size: 100% 100%;

                    > span {
                        font-size: 26px;
                        line-height: 1.2;
                    }

                }
            }
        }
    }

    .packages {
        .packages-star, .packages-moat, .packages-pk {
            margin: 32px auto 0;
            padding-bottom: 34px;
        }
    }
}

.fillText {
    width: 300px;
    margin: 0 auto;
    word-break: break-all;
    font-size: 24px;
}

