@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue.woff2') format('woff2'),
        url('BebasNeue.woff') format('woff'),
        url('BebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

