<!DOCTYPE html>
<html lang="en">
<head>
  <!-- set `maximum-scale` for some compatibility issues -->
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta name="keywords" content="elelive">
  <meta name="description" content="new years">
  <title>小象直播</title>
  <%- injectScript %>
  <script>
    //兼容ios11
    this.globalThis || (this.globalThis = this)
  </script>

  <script>
    window.appPendantMsg={}
    window['appInitTrigger'] = function (res) {
        console.log('--appInitTrigger--');
        try{
            window.appPendantMsg = eval(`(${res})`);
        }catch(err){
            console.log('appPendantMsg-报错');
            window.appPendantMsg = JSON.parse(res)
        }

        console.log(window.appPendantMsg)
    }

    // 挂件按钮是否隐藏
    window.hiddenPendantBtnStatus = {}
    window.hiddenPendantBtnStatus.data = {}
    window['hiddenPendantButton'] = function (res) {
        console.log('--hiddenPendantButton--')
        try {
            window.hiddenPendantBtnStatus.data = eval(`(${res})`);
        } catch (err) {
            console.log('hiddenPendantBtnStatus-报错');
        }
        console.log(res);
    };

    // 挂件现在是否展开状态
    window['hiddenPendantStatus'] = function (res) {
        console.log('--hiddenPendantStatus--');
        console.log(res);
    }

    window['appRefreshTrigger'] = function(res) {
        console.log('--appRefreshTrigger--');
    };
  </script>

  <%- testScript %>
</head>
<body>
<div id="app"></div>
<%- initLoading %>
<script type="module" src="./index.tsx"></script>
</body>
</html>

