<!DOCTYPE html>
<html lang="en">
<head>
  <!-- set `maximum-scale` for some compatibility issues -->
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta name="keywords" content="elelive">
  <meta name="description" content="new years">
  <title>小象直播</title>
  <%- injectScript %>
  <script>
    //兼容ios11
    this.globalThis || (this.globalThis = this)
    // 隐藏头部
    var hideAppHeader = function () {
      try {
        if (window.YWJSBridge) {
          window.YWJSBridge.hideAppHeader()
        }
      } catch (err) {
        console.error('Android tocharge err', err)
      }
      try {
        if (window.webkit) {
          window.webkit.messageHandlers.ewnativeCookies.postMessage({
            'type': 'hideAppHeader',
          })
        }
      } catch (err) {
        console.error('ios tocharge err', err)
      }
    }
    hideAppHeader();
  </script>

  <%- testScript %>
</head>
<body>
<div id="app"></div>
<%- initLoading %>
<script type="module" src="./index.tsx"></script>
</body>
</html>

